*{
    font-family: 'JetBrains Mono', monospace;
   
}


.container2{
    margin: auto 5rem;
    display: flex;
    color: white;
}

#no-bullet{
    list-style: none;
    padding: 0px;
    font-size: 18px;
    color: white;
}

#no-margin{
    /* margin-left: 5rem; */
    color: white;
}

.plink:visited{
    color: white;
    text-decoration: none;
}

.what {
    margin-top: 5rem;
}