*{
    font-family: 'JetBrains Mono', monospace;
    
}

.heading{
    margin: 5px;
    color: white;
   
}

#h_button{
    margin-top: 15px;
    background-color:transparent;
    color: white;
    padding: 0;
    border-radius: 10px;
    font-size: 18px;
    border:solid white;
    padding: 5px

}

#h_button:hover{
    margin-top: 15px;
    background-color:transparent;
    opacity: 0.7;
    color: white;
    padding: 0;
    border-radius: 10px;
    font-size: 18px;
    border-color: white;
    padding: 5px;
}